body{
    background-color: #f5f9fc;
}
.sidebar{
    width: 20%;
    height: 1200px;
    padding: 30px 20px;
     background: linear-gradient(
        180deg,
        #020617 0%,
        #0f172a 50%,
        #1e293b 100%
    );
    color: #ffffff;  
    box-shadow: 5px 0 25px rgba(0,0,0,0.3);

}

.sidebar h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
    
}

 .subtitle {
    font-size: 14px;
    /* color: rgba(255,255,255,0.6); */
    margin-bottom: 40px;
 }

 .icons{
    margin-top: 10px;
 }

 .icons a{
    color: rgba(255,255,255,0.6);
    font-size: 16px;
 }

 .icons .vertical{
    background: red;
    padding: 4px;
 }
 .btn77{
   place-items: center; 
 }

.btn77 button{
    margin-top: 100px;
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: blue;
    border-radius: 10px;
    color: white;
   
}
.ppp{
    color: red;
}

.sidebar33{
    margin-top: 600px;
}

/* TOPBAR STARTS HERE */
.topbar{
    background-color:white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
}

.topbar input{
    width: 350px;
    height: 30px;
    border-radius: 50px ;
    padding-left: 20px;
    margin-left: 20px;
    border: none;
    background-color: #f1f5f9;
}

.image{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 15px;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.top1{
    display: flex;
    gap: 10px;
}

.pap1{
    font-size: 20px;
    font-display: block;
}

.papboth{
   line-height: 1px;
}



/* TOPBAR ENDS HERE */


/* PAGEHEADER STARTS HERE */
.pageheader{
    /* height: 100px; */
    margin-left: 20px;
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.examBtns{
    /* margin-right: 20px; */
    display: flex;
    gap: 50px;
    /* border: none; */
    /* border-radius: 10px; */
}

.examBtns button{
    width: 150px;
    height: 40px;
     border-radius: 10px grey;
     border: 10px;
     
}

.active{
    margin-left: 10px;
    background-color:deepskyblue;
    padding: 5px;
    border-radius: 10px;
}
.btn6{
    background-color: white;
   
}

#btn4{
    background-color: blue;
    color: white;
    border-radius: 10px;
}

/* PAGEHEADER ENDS HERE */


/* KPIS STARTS HERE */
.KPIS{
    background-color: white;
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 20px 0px 20px 20px;
}

.KPIS .cards{
    width: 230px;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    line-height: 3px;
    border: 2px solid gainsboro ;


}.KPIS .cards h3{
    font-size: 15px;
    font-display: calc(5px);
}

.KPIS .cards p{
    font-display: block;
    font-size: 30px;
}

/* KPIS ENDS HERE */


/* PAPER PROGRESS STARTS HERE */
.exam{
    background-color:white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid gainsboro ;

}

.Info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressBar{
    background: rgba(0,0,0,0.3);
    border-radius: 50px;
}
.bar1{
    width: 80%;
    background-color: blue;
    height: 15px;
    border-radius: 50px;
}

.bar2{
    width: 25%;
    background-color: darkblue;
    height: 15px;
    border-radius: 50px;
}


.bar3{
    width: 60%;
    background-color: blue;
    height: 15px;
    border-radius: 50px;
}

.progressInfo{
    display: flex;
    justify-content: space-between;
}


/* PAPER PROGRESS END HERE */


/* SUBJECT AVERAGE STARTS HERE */
.subject{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 50%;
    border: 2px solid gainsboro ;
}

 

/* SUBJECT AVERAGE ENDS HERE */



/* MARKS ENTRY STARTS HERE */
.marksentry{
    background-color:red;
    border-radius: 30px;
    margin-top: 10px;
    
    width: 100%;

}

 th, td{
    border: 1px solid black;
    padding: 15px;
}

thead{
    /* background-color: #09bae2; */
    width: 100%;
}

th{
    background-color: cadetblue;
    color: #4b5563;
}

td{
    background-color: white;
}

table{
    border: 2px solid gainsboro;
    padding: 15px;
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 20px; */
    border-radius: 10px;
    background-color: #eef7f9;
    /* margin-right: 25px; */
    /* box-shadow: rgba(0,0,0,0.1); */
}
.g1{
    color: #1e88e5;
    font-display: block;
}

.g2{
    color: darkgreen;
    
}


/* MARKS ENTRY ENDS HERE */


/* UPCOMING EXAMS START HERE */
.upcomingexams{
    background: linear-gradient(
        180deg,
        #020617 0%,
        #0f172a 50%,
        #1e293b 100%
    );
    border-radius: 10px;
    height: 400px;
    color: white;
    padding: 10px;
}


.event{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

#DATE{
    width: 20%;
    padding: 3px;
    height: 100%;
    background-color: slategrey;
    border-radius: 10px;
    padding-right: 0;
}

.open p{
    line-height: 2px;
}

.viewBtn{
    display: grid;
    place-items: center;
}

.viewBtn button{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background: none;
    border: 2px solid grey;
    padding: 10px;
    color: white;
}

/* UPCOMING EXAMS END HERE */


/* EXAMINVIG STARTS HERE */
.Examinvig{
    background-color: white;
    border: 2px solid gainsboro;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.p1{
    font-size: 15px;
    font-weight: bold;
    line-height: 1px;
}

.tech{
    border-radius: 10px;
}


/* EXAMINVIG ENDS HERE */

/* YEAR TREND BEGINS HERE */

.yeartrend{
    /* background-color: darkorchid; */
    border:2px solid gainsboro; 
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f1f5f9;


    /* YEAR TREND ENDS HERE */
}


/* UPCOMING EVENTS STARTS HERE */
.upcomingevents{
   border:2px solid gainsboro; 
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
    background-color: white; 
     
}


.staff{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    border: 2px solid gainsboro;
    width: 95%;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #f1f5f9;
   
    
}

#term{
    padding: 3px;
    background-color: white;
    border-radius: 10px;
    padding-right: 0;
}

.eventBtn{
    display: grid;
    place-items: center;
}

.eventBtn button{
    margin-top: 10px;
    width: 95%;
    border-radius: 10px;
    background: none;
    border: 2px dashed grey;
    padding: 10px;
    
}


/* UPCOMING EVENTS END HERRE */

.parttwo{
    /* background-color: red; */
    width: 100%;
}

.partone{
    display: flex;
    
}

.cont1{
    display: flex;
    width: 100%;
    /* background-color: yellow; */
    gap: 10px;
    
}

.partthree{
    display: flex;
    gap:10px;
    /* background-color: red; */

}

.Container{
    width: 80%;
    margin-left: 20px;
}





